a {
  position: absolute;
  text-decoration: none;
  top: 10px;
  right: 10px;
}

ngx-charts-line-chart {
  display: flex;
  aspect-ratio: 8/3;
  max-height: 90vh;
  width: 100%;
}

@media (orientation: landscape) {
}

@media (orientation: portrait) {
}
