<h2>{{ countryPath }}</h2>
<section class="countSection">
  <div class="countCategory">
    <p>Number of JOs</p>
    <span>{{ JOsNumber }}</span>
  </div>
  <div class="countCategory">
    <p>Total number medals</p>
    <span>{{ countryMedals }}</span>
  </div>
  <div class="countCategory">
    <p>Total number of athletes</p>
    <span>{{ countryAthletes }}</span>
  </div>
</section>

<ngx-charts-line-chart
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [results]="lineChartData"
>
</ngx-charts-line-chart>

<a routerLink="">Retour</a>
