ngx-charts-line-chart {
  display: flex;
  aspect-ratio: 8/3;
  max-height: 50vh;
  width: 100%;
}

@media (orientation: landscape) {
}

@media (orientation: portrait) {
}

@media (max-width: 767px) {
  .header {
    display: flex;
    align-items: center;
    gap: 2em;
  }
}
