<h2>Medals per Country</h2>
<section class="countSection">
  <div class="countCategory">
    <p>Number of JOs</p>
    <p>{{ (olympics$ | async)[0]["participations"]?.length }}</p>
  </div>
  <div class="countCategory">
    <p>Number of countries</p>
    <p>{{ (olympics$ | async)?.length }}</p>
  </div>
</section>

<ngx-charts-pie-chart
  [results]="pieChartData"
  [gradient]="gradient"
  [labels]="showLabels"
  [doughnut]="isDoughnut"
  [customColors]="colorScheme"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
>
</ngx-charts-pie-chart>
