h2 {
  display: flex;
  justify-content: center;
}

.countSection {
  display: flex;
  justify-content: center;
  gap: 10em;
}

ngx-charts-pie-chart {
  display: flex;
  aspect-ratio: 3/2;
  max-height: 90vh;
  width: 100%;
}

.countCategory {
  border: solid 3px #04838f;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;

  & p {
    color: #949494;
    margin: 0;
  }

  & span {
    font-weight: bold;
  }
}

.pie-label {
  opacity: 0.6;
}

@media (orientation: landscape) {
  .pie-label {
    font-size: 2vw;
  }
}

@media (orientation: portrait) {
  .pie-label {
    font-size: 2vh;
  }
}
